{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-export-default",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
